<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="icon" href="pi-pie.png" type="image/x-icon" />
    <link rel="stylesheet" href=<%=href%> type="text/css" />
    <link rel="stylesheet" href=layout.css type="text/css" />
    <title>Hangout - <%=title%></title>
</head>

<body id="body">
    <div id="alert">
        <div id="message"></div>
        <div id="buttons">
            <button id="b1" class="buttons"></button>
            <button id="b2" class="buttons"></button>
        </div>
    </div>
    <%if (signedIn) {%>
        <div id="linkHolder">
            <a href="/home" id="homeLink" class="links">Home</a>
            <a href="/posts" id="postLink" class="links">Posts</a>
            <input type="text" id="search" class="links" placeholder="search for people">
            <button id="searchLink" class="links">Search</button>
            <%if (admin) {%>
                <a href="/signUp" id="signUpLink" class="links">Sign Up</a>
            <%}%>
            <button id="signOutButton" class="links">Sign Out</button>
            <button id="username" class="username"><%=username%></button>
        </div>
    <%}%>
    <div id="containerMain">
        <%- defineContent("main") %>
    </div>
    <script type="text/javascript" src="layout.js"></script>
</body>

</html>