.links {
    position: relative;
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
    border-style: solid;
    border-color: black;
    background-color: DodgerBlue;
    border-width: 2px;

}

.links:hover {
    cursor: pointer;
}

#linkHolder {
    width: 100%;
    height: 40px;
    background-color: DodgerBlue;
}

.name {
    display: inline-block;
    font-size: 50px;
}

.name:hover {
    text-decoration: underline;
}

.name:hover {
    cursor: pointer;
    color: green;
}

.block {
    display: block;
    text-align: center;
}

#submitTag {
    display: inline-block;
}

#tags {
    display: inline-block;
}

#signOut {
    border-top-style: solid;
}

#search {
    background-color: white;
}

#signOutButton {
    margin-left: 2px;
}

#search:hover {
    cursor: text;
}

#username {
    position: absolute;
    border-color: black;
    background-color: green;
    font-size: 20px;
    font-weight: bold;
    padding: 6px;
    right: 10px;
}