#body {
    background-color: lightgray;
}

#name {
    color: white;
    background-color: orange;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
}

#picture {
    border-style: solid;
    border-bottom-style: none;
    height: 250px;
    width: 250px;
    text-align: center;
}

#statusBox {
    border-style: solid;
    height: 100%;
    width: 250px;
}

#status {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#updates {
    font-weight: bold;
    border-top-style: solid;
}

#lastUpdate {
    border-bottom-style: solid;
}

#admin {
    font-weight: bold;
}

#linkHolder {
    width: 100%;
    height: 40px;
    background-color: blue;
}

.links {
    position: relative;
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
    border-style: solid;
    border-color: black;
    background-color: blue;
    border-width: 2px;
    display: inline-block;
}

.links:a {
    cursor: pointer;
}

#searchLink:hover {
    cursor: pointer;
}

#submit {
    display: block;
}

#choose {
    border-style: solid;
    border-top-style: none;
    width: 250px;
}

#info {
    border-style: solid;
    height: 480px;
    margin-left: 270px;
}

#sidebar {
    float: left;
}

#mainPage {
    overflow: auto;
    margin-top: 10px;
}

.sections {
    border-right-style: solid;
    display: inline-block;
    height: 480px;
    vertical-align: top;
}

#section4 {
    border-right-style: none;
}

.sectionHeaders {
    border-bottom-style: dotted;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.groups {
    font-weight: bold;
    font-size: 20px;
}

.none {
    text-align: center;
}

#submitTag {
    display: inline-block;
}

#tags {
    display: inline-block;
}

#signOut {
    border-top-style: solid;
}

#search {
    background-color: white;
}

#signOutButton {
    margin-left: 2px;
}

#admin {
    text-align: center;
}

#friendHolder {
    border-top-style: solid;
}

#friend {
    display: inline-block;
    font-weight: bold;
    background-color: green;
    border-style: none;
    font-size: 30px;
    height: 40px;
    transition-duration: 0.6s;
}

#friend:hover {
    background-color: blue;
    transition-duration: 0.6s;
}

#leaveButton {
    background-color: orange;
    border-color: black;
}

#leaveButton #leaveText {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#leaveButton #leaveText:after {
    content: '\<<';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 50px;
    transition: 0.5s;
}

#leaveButton:hover #leaveText {
    padding-right: 20px;
}

#leaveButton:hover #leaveText:after {
    opacity: 1;
    right: 0;
}

#submitTag {
    display: inline-block;
}

#tags {
    display: inline-block;
}

#signOut {
    border-top-style: solid;
}

#search {
    background-color: white;
}

#signOutButton {
    margin-left: 2px;
}

#username {
    position: absolute;
    border-color: black;
    background-color: lightgray;
    font-size: 20px;
    font-weight: bold;
    padding: 6px;
    right: 5px;
}

#section3 {
    padding-right: 10px;
    height: 454px;
    border-bottom-style: dashed;
}

#section4 {
    height: 454px;
    border-bottom-style: dashed;
}

#biographyText {
    word-wrap: break-word;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    height: 420px;
    padding-top: 2px;
    padding-left: 2px;
}

#seperation {
    white-space: nowrap;
    margin-top: 6px;
    font-size: 20px;
}

#ban {
    display: inline-block;
    font-weight: bold;
    background-color: red;
    border-style: none;
    font-size: 30px;
    height: 40px;
    transition-duration: 0.6s;
}
#ban:hover {
    background-color: orange;
    transition-duration: 0.6s;
}
