<%- contentFor("main") %>

<div id="signInBox">
    <div id="signIn">
        <div id="heading">
                <div id="notice">All Mr Codes students' passwords are the same as on his site</div>
                <b id="hangouts">Hangout</b>
            </div>
        <div class="lables">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" />
        </div>

        <button id="signInButton">Sign In</button>
        <div id="warning"></div>
    </div>
</div>
<script type="text/javascript" src="signInJavascript.js"></script>
